1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

Answer: 
Values- 1. String: 'hello', 2.Integer: -87.8, 6
Expressions- Mathematical operators- *,-,/,+  [ *: (Multiplication), - : (Substraction),  /: (Division), +: (Addition)]

2. What is the difference between string and variable?

#Variable is a location in the primary memory RAM (Random Access Memory) where we store any information in a program varying from strings, integers, complex numbers, float point numbers, boolean values etc . 

#String is a type of data/value consisting of a sequence of characters inside single, double and triple quotes that can be stored inside a variable.

3. Describe three different types of Data types?

a) Numeric datatypes: Incudes Integers(Eg:23,4,5), Float point numbers (Eg:3.4,5.8), Complex numbers (Eg: 4+8j)
b) Sequence Type datatypes: Strings (Eg: "Penny"), List (Eg:['Penn', 234, True]), Tuples Eg: ('Penn', 234, True)
c) Boolean datatypes: Eg: True and False
        
Others can be Dictionaries, Sets and Nonetype

4. What is an expression made up of? What do all expressions do? 

Expressions is a combination of operators and operands which undergo interpretation to produce some value. Eg: 4+5, 4/5, 4*5 are the expressions wherein the operators are functionality, represented by symbols like +,/,* and these functionalities require some data to operate on called as operands like 4,5 in this example.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statements represent an action or command that executes something e.g print statements, assignment statements.
Expression is a combination of variables, operations and values that yields a result value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [4]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam'* 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

A variable name must start with a letter or the underscore character. It cannot start with a number because the parser can not tokenize integers as a variable . 
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ) in which first letter always starts with an integers

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int(): Convert a number or string to an integer, or return 0 if no arguments are given.
float() : Convert a string or number to a floating point number, if possible or return 0.0 if no arguments are given. 
str(): Convert a string or number to an integer, or return '' if no arguments are given.

In [19]:
int()

0

In [20]:
float()

0.0

In [21]:
str()

''

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos.'

In [13]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The error here is a type error which can be resolved using Typecasting

In [14]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'