<a href="https://colab.research.google.com/github/tavleenbajwa8/PythonAssignments/blob/main/Prog_ineuron_As2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Write a Python program to convert kilometers to miles?

In [15]:
def len_converter(a):
  print("The value in kms is : ", a/1.609, "Kms")

len_converter(int(input("Enter the value in Kms to be converted into miles: ")))

Enter the value in Kms to be converted into miles: 3
The value in kms is :  1.8645121193287757 Kms

In [13]:
#Write a Python program to convert Celsius to Fahrenheit?

In [17]:
def temp_converter(a):
  print("The value in Farenheit is : ", (a*9/5) + 32, "F")

temp_converter(int(input("Enter the value in Celcius to be converted into farenheit: ")))

Enter the value in Celcius to be converted into farenheit: 3
The value in Farenheit is :  37.4 F

In [18]:
#Write a Python program to display calendar?

In [21]:
import calendar 
year = int(input("Enter the year: "))
month = int(input("Enter the month: "))

print(calendar.month(year, month))

Enter the year: 1997
Enter the month: 6
     June 1997
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [22]:
#OR

In [24]:
import calendar

def calen(year, month):
  print(calendar.month(year, month))

calen(1997, 3)

     March 1997
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [25]:
#Write a Python program to solve quadratic equation?

In [27]:
import cmath
a = 10
b = 20
c = 30

d = (b**2) - (4*a*c)

x1 = -b-cmath.sqrt(d)/(2*a)
x2 = -b+cmath.sqrt(d)/(2*a)

print(x1, x2)

(-20-1.4142135623730951j) (-20+1.4142135623730951j)

In [28]:
#OR

In [29]:
import cmath

def quad(a,b,c,d):
  print(-b-cmath.sqrt(d)/(2*a), -b+cmath.sqrt(d)/(2*a))
quad(10,20,30,(b**2) - (4*a*c) )

(-20-1.4142135623730951j) (-20+1.4142135623730951j)

In [37]:
#Write a Python program to swap two variables without temp variable?

In [35]:
def swapper(x,y):
  x = x + y
  y = x - y
  x = x - y
  print(x,y)

swapper(10,20)

20 10